.wrapper {
  min-height: 100%;
  height: 900px;
  padding: 100px;
  background-image: url("./fridge-texture-light.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-md-4 {
  float: left;
  position: relative;
  min-height: 400px;
  margin-top: -30px;
}

.col-lg-12 {
  min-height: 400px;
}