* {
  box-sizing: border-box;
 }

 *:before,
 *:after {
  box-sizing: border-box;
 }
 
 body, html {
  background: white;
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card {
  margin-top: 60px;
  min-height: 300px;
  max-height: 500px;
  overflow: auto;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,0.8);
  background-image: url("./paper-light.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-header {
  background-image: url("./fridge-metal-light.jpg");
  background-position: 0 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-body {
  /* position: absolute; */
  height: 250px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
}

.card-title {
  display: inline;
}

.x-box {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: white;
  border-radius: 2px;
  border: 1px solid black;
}

.x-box:hover {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: white;
  border-radius: 2px;
  border: 1px solid black;
  transform: scale(1.2, 1.2);
}

.x-box:active {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: rgb(200, 200, 200);
  border-radius: 2px;
  border: 1px solid black;
  transform: scale(0.8, 0.8);
}

.x-letter {
  position: relative;
  bottom: 5px;
}

.card-body p {
  margin-top: -5px;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(94, 104, 101);
  border: 1px solid black;
  border-left: 2px solid black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: url("./fridge-metal-light.jpg");
  background-position: 0 30%;
  border: 1px solid black;
  border-left: 2px solid black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: url("./fridge-metal-light.jpg");
  background-position: 0 40%;
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background-image: url("./fridge-metal-light.jpg");
  background-position: 0 50%;
}