.card {
  min-height: 300px;
  max-height: 500px;
  overflow: auto;
  background: #E5E5E5;
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.card-header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: purple;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #B8B8B8;
}

.first {
  background: palegreen;
}
.second {
  background: greenyellow;
}

.third {
  background: green;
}