.container {
  min-height: 100px;
  background: #E5E5E5;
  position: relative;
}
.panel-heading {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.panel-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #B8B8B8;
}
