.footer {
  /* position: absolute; */
  font-family: Arial, Helvetica, sans-serif;
  bottom: 0;
  width: 100%;
  padding: 12px;
  height: 50px;
  color: black;
  text-align: center;
  border-top: 2px solid black;
  background-image: url("./fridge-metal-light.jpg");
  background-position: 0 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

