.footer {
  /* position: absolute; */
  font-family: Arial, Helvetica, sans-serif;
  bottom: 0;
  width: 100%;
  padding: 12px;
  height: 50px;
  background-color: rgb(105, 88, 121);
  background: rgb(192, 255, 229);
  color: black;
  text-align: center;
  border-top: 2px solid black;
}

