/* .container {
  min-height: 100px;
  position: relative;
}

.panel-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
} */

.card {
  border: 2px solid black;
}

.stock-header {
  font-family: 'Fredoka One', cursive;
  color: orange;
  text-shadow: 2px 3px 6px black;
  -webkit-text-stroke: 2px black;
  border-bottom: 2px solid black;
}

#stock-name {
  text-align: center;
  font-size: 30px;
}

#open-close {
  display: inline;
  overflow: auto;
}

#low-high {
  display: inline;
  overflow: auto;
}

#stock-current {
  display: inline;
}

#stock-right {
  float: right;
  display: inline;
}