.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 999;
  border-bottom: 2px solid black;
  background-image: url("./fridge-metal-light.jpg");
  background-position: 0 10%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar-brand {
  font-family: 'Fredoka One', cursive;
  font-size: 45px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(189, 73, 189);
}

a:not([href]):not([tabindex]) {
  color: black;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover {
  color: rgb(189, 73, 189);
  text-decoration: none;
}

.letter-f {
  color: yellow;
  margin: 3px;
  text-shadow: 2px 3px 6px black;
  -webkit-text-stroke: 2px black;
}

.letter-r {
  color: rgb(83, 118, 216);
  margin: 3px;
  text-shadow: 2px 3px 6px black;
  -webkit-text-stroke: 2px black;
}

.letter-i {
  color: orange;
  margin: 3px;
  text-shadow: 2px 3px 6px black;
  -webkit-text-stroke: 2px black;
}

.letter-j {
  color: rgb(94, 201, 80);
  margin: 3px;
  text-shadow: 2px 3px 6px black;
  -webkit-text-stroke: 2px black;
}

.letter-apostrophe {
  color: rgb(83, 118, 216);
  margin: 3px;
  text-shadow: 2px 3px 6px black;
  -webkit-text-stroke: 2px black;
}

.letter-i2 {
  color: red;
  margin: 3px;
  text-shadow: 2px 3px 6px black;
  -webkit-text-stroke: 2px black;
}

.letter-t {
  color: rgb(189, 73, 189);
  margin: 3px;
  text-shadow: 2px 3px 6px black;
  -webkit-text-stroke: 2px black;
}

.nav-item {
  /* font-weight: bold; */
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  padding: 5px;
}

.color-me {
  color: blue;
}

.date-display {
  list-style: none;
}


/* Media Queries */

@media only screen and (max-width: 1360px) {
  .nav-link {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1100px) {
  .date-display {
    margin-left: 100px;
  }
}
