/* .container {
  min-height: 100px;
  position: relative;
}

.panel-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
} */

.card {
  border: 2px solid black;
}

.clock-header {
  font-family: 'Fredoka One', cursive;
  color: red;
  text-shadow: 2px 3px 6px black;
  -webkit-text-stroke: 2px black;
  border-bottom: 2px solid black;
}

#clock-display-title {
  text-align: center;
  font-size: 30px;
}

#clock-display {
  margin-top: 20px;
  text-align: center;
}