/* .container {
  min-height: 100px;
  position: relative;
}

.panel-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
} */

.card {
  border: 2px solid black;
}

.clock-header {
  font-family: 'Fredoka One', cursive;
  color: red;
  text-shadow: 2px 3px 6px black;
  -webkit-text-stroke: 2px black;
  border-bottom: 2px solid black;
}

#clock-display-title {
  font-family: 'Quantico', sans-serif;
  font-size: 48px;
  text-align: center;
  text-align: center;
  padding: 30px;
  margin-top: 10px;
  background-color: black;
  color: red;
  border-radius: 5px;
}

.clock-body {
  background-color: rgb(255, 160, 160);
}